= form_for [@application, @password] do |f|
  - if @password.errors.any?
    #error_explanation
      %h2= "#{pluralize(@password.errors.count, "error")} prohibited this password from being saved:"
      %ul
        - @password.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :title do
      Title (username, email etc)
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :description, 'Description (optional)'
    = f.text_area :description, class: 'form-control'
  .form-group
    = f.label :password
    = f.text_field :password, value: @password.decrypted_password, class: 'form-control'
  .form-actions
    = f.submit 'Save', class: 'btn btn-primary'

    - unless @password.new_record?
      = link_to 'Cancel', [@application, @password], class: 'btn btn-default'
