/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *
 *= require bootstrap.min
 *= require_self
 *= require_tree .
 */

@import 'font-awesome';

.login-holder {
  width: 330px;
  margin: 40px auto;

  label {
    font-weight: normal;
    margin-bottom: 3px;
  }
}

.ui-block {
  background: #f9f9f9;
  padding: 20px;
}

.cgray {
  color: gray;
}

.password {
  color: #333;
  font-size: 18px;
  font-family: 'Menlo', 'Liberation Mono', 'Consolas', 'Courier New', 'andale mono', 'lucida console', monospace;
}

.avatar {
  border-radius: 4px;
  width: 28px;
  margin: 6px 0;
}

table th {
  background: #eee;
  border-bottom: 1px solid #DDD;
}

.title-line {
  margin: 10px 0;
}

.title-container {
  h2 {
    margin:0;
  }
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -30px;
}

.search-form {
  margin-bottom: 10px;
  input[type="search"] {
    min-width: 30%;
  }
}
